/*
参数
{
    inherit 规定从父元素继承东西

位置
    top 上边
    buttom 下边
    right 右边
    left 左边

字体
    italic 加粗
}


*/
.background
{
    background-color: #FFF;  /*背景颜色 */
    background-image: url(../images/logo.png); /*设置背景图片 前面覆盖后面的图像*/
    background-repeat: no-repeat; /* 重复方式 */
    background-position: 10px 50px; /* 控制图像相对与元素的水平距离和垂直距离 */
    background-position: center;/* 使背景 从中间展开 */
    background-size: 10%; /* 设置图像的尺寸为原大小10% */
    background-attachment: local; /* 设置图像的滚动属性 */
    background-origin: border-box; /* 设置图像从什么地方开始绘制 */
}

.font
{

    font-family: 微软雅黑;  /*字体*/
    font-size: 24px;     /*字体大小*/
    font-weight: 700; /* 400正常 700加粗 */
    font-style: italic; /* 设置字体样式 */

}

.text
{
    text-align: center; /*文本对齐方式*/
    text-decoration: none; /*文本修饰 */

}

.border
{
    border: 1px solid #ff7202; /*设置边框 */
    border-radius: 12px; /* 设置边框圆角 */
}

.list
{
    list-style-image: url(); /*设置表格的点点*/
}
    
.other
{
    color:red; /*前景色字体颜色*/
    margin: auto; /*外边距*/
    padding: auto; /*内边距 */
    margin-top: 2px; /*设置上外边距*/
    /* 两个参数 上下 左右 
    四个参数 上 右 下 左 */
    box-sizing: border-box; /*设置盒子大小包括边距 */
    line-height: 1/5em; /*设置行高*/
    float: left; /* 设置浮动 */
    clear: both; /* 清除浮动 */

}
    
.display
{
    display: block;/*显示模式转换为块级 */
    position: relative; /* 设置定位属性 */ 
}
    
    
    
    
    
    
    
   
    
    