.flex-container
{
    display: flex; /* 设置为弹性容器 */
    background-color: aliceblue;
}

.flex-container > div
{
    margin: 20px;
    padding: 20px;
    color: aqua;
    background-color: burlywood;
}
.inline-flex-container
{
    display: inline-flex; /* 设置为行内弹性容器 */
    background-color: aliceblue;
}

.inline-flex-container > div
{
    margin: 20px;
    padding: 20px;
    color: aqua;
    background-color: burlywood;
}
.wrap-flex-container
{
    display: inline-flex; 
    flex-wrap: wrap;
    background-color: aliceblue;
}

.wrap-flex-container > div
{
    margin: 20px;
    padding: 20px;
    color: aqua;
    background-color: burlywood;
}

