*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    width: 100vw;
    height: 100vh;
}


#picture
{
    width: 600px;
    height: 450px;
    border-radius: 12px;
    transition: all ease 2s;
    background-image: url(../images/1.jpg);
    background-position: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#picture::after
{
    content: "";
    width: 620px;
    height: 470px;
    background-color: aquamarine;
    position: absolute;
    z-index: -1;
    top: -10px;
    left: -10px;
    border-radius: 10px;
}

#picture:hover
{
    width: 700px;
    height: 600px;
    transition:all ease 1s;
    
}

#picture:hover::after
{
    content: "";
    width: 730px;
    height: 630px;
    background-color: aliceblue;
    position: absolute;
    top: -15px;
    left: -15px;
    border-radius: -15px;
    z-index: -1;
}

#picture .circle
{
    width: 20px;
    height: 20px;
    background-color: greenyellow;
    margin: 20px;
    cursor: pointer;
    transition: 1s;
    border-radius: 10px;
}

