*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    width: 100vw;
    height: 100vh;
}


#picture
{
    width: 600px ;
    height: 450px;
    border-radius: 12px;
    transition: all ease 2s;
    background-image: url(../images/1.jpg);
    background-position: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0 0 10px 10px pink;
}



#picture:hover
{
    width: 700px;
    height: 600px;
    transition:all ease 1s;
    
}


#picture .circle
{
    width: 20px;
    height: 20px;
    background-color: greenyellow;
    margin: 20px;
    cursor: pointer;
    transition: 1s;
    border-radius: 10px;
}

