*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "PingFang SC", "Microsoft Yahei", sans-serif;
}

body
{
    width: 100vw;
    height: 100vh;
    background-image: url("../../picture/yourname.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content
{
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


#content h1
{
    color: white;
    margin-bottom: 20px;
}


#login
{
    width: 200px;
    display: flex;
    /* 对齐 */
    flex-direction: column; 
    position: relative;
    z-index: 100;
    text-align: center;
}


#login::before
{
    content: "";
    width: calc(100% + 70px);
    height: calc(100% + 70px);
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.25);
    position: absolute;
    top: -30px;
    left: -35px;
    z-index: -1;
    border-radius: 18px;
    filter: blur(2px);
    overflow: hidden;
}

#login input::placeholder
{
    color: #3d5245;
}


#login input, #login button
{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255,0.3);
    color: #3d5245;
    border: none;
    -webkit-appearance:none;/*去除阴影边框*/
    appearance: none;
    outline: none;
}


/* 补充，取消选中高亮蓝框 */
#login button:focus, #login input:focus {
  outline: 0;
}

#login button:hover
{
    background-color: #3d5245;
    color: white;
    cursor: pointer;
    position: relative;
    transition-duration: 0.4s;
}

#login button:hover::after
{
    content:"" ;
    width: 200px;
    height: 37px;
    background-color: #3d5245;
    filter: blur(30px);
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
}