table
{
    border: 2px solid black;
    border-collapse: collapse;
}
tr td
{
    border: 2px solid black;
    padding-right: 30px;
}
tr input
{
    margin-right: 30px;
}

.money::after
{
    content: " (元)";
}