<launch> <!-- 根标签 -->

    <node> <!-- 需要启动的node 以及参数 -->
    <include> <!-- 包含其他launch 文件 -->
    <machine> <!-- 指定运行的机器 -->
    <env-loader> <!-- 设置环境变量 -->
    <param> <!-- 定制参数到参数服务器 -->
    <rosparam> <!-- 启动yaml 文件到参数服务器 -->
    <arg> <!-- 定义参数传入到launch 文件中 -->
    <remap> <!-- 设置参数映射 -->
    <group> <!-- 设置命名空间 -->

</launch>