.wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.wrapper .wrapper-in {
  width: 980px;
  max-width: 980px;
  margin: 0 auto;

}
/*banner部分*/
.banner {
  width: 100%;
  height: 220px;
}
.banner img {
  width: 100%;
}

/*热门景点图片*/
.home-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-img .box {
  width: 30%;
  height: 200px;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  border: 10px solid #fff;
  box-shadow: 1px 1px 2px #e6e6e6;
  overflow: hidden;
  position: relative;
}
/*悬停时图片有阴影*/
.home-img .box:hover {
  box-shadow: 13px 13px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.home-img .box:before {
  content: '';
  background: linear-gradient(to left top, #11998e, #38ef7d);
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.4s linear;
}
.home-img .box:hover:before {
  opacity: 1;
}
.home-img .box img {
  width: 100%;
  height: 200px;
  transition: all 0.4s linear;
}
.home-img .box:hover img {
  opacity: 0;
  transform: scale(3);
}
.home-img .box .box-content {
  color: #fff;
  width: 100%;
  transform: translateY(-50%) scale(0);
  position: absolute;
  top: 50%;
  left: 0;
  transition: all 0.4s linear;
}
.home-img .box:hover .box-content {
  transform: translateY(-50%) scale(1);
}
.home-img .box .title {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}
.home-img .box .post {
  font-size: 16px;
  text-transform: capitalize;
}

.hot-title {
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: bold;
}
/*************/

.footer-box {
  padding: 1em;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: #18354a;
  color: #fff;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

/*介绍地方、美食*/
.el-card {
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  overflow: hidden;
  color: #303133;
  transition: 0.3s;
  padding: 15px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  display: flex;
  margin-top: 15px;
}

.el-card .card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
/*图片效果*/
.el-card .card-left img {
  width: 200px;
  height: 200px;
  border-radius: 6px;
  overflow: hidden;
}

.card-left-titlt {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}
/*文字部分*/
.card-right {
  font-size: 16px;
  padding-left: 15px;
}

.hover-box {
  position: relative;
}
.hover-select {
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  transition: all 0.3s;
  font-size: 14px;
  cursor: pointer;
  z-index: 99;
}
.select-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.hover-select-show {
  display: block;
}
