h1
{
    text-align: center;
    background-color: Azure;
}


h2
{
    font-size: 30px;
    color:DarkSeaGreen ;
}

h3
{
    font-size: 25px;
    text-align: center;
    color: palevioletred;
}

p
{
    text-indent: 2em;
    font-size: 20px;
}