#title
{
    width: 580px;
    height: 50px;
}

#title ul li
{
    width: 116px;
    line-height: 50px;
}

.menu
{
    width: 116px;
}



/* 主界面 */


/* 链接界面 */
iframe
{
    width: 580px;
    height: 380px;
}

/* banner 聚焦切换模块 */

#banner
{
    width: 580px;
    height: 400px;
}

#banner ul
{
    width: 580px;
}

#banner ul li img
{
    width: 116px;
    height: 72px;
    padding: 4px;
}

#big-picture 
{
    width: 580px;
    height: 300px;
}

#box-picture
{
    width: 116px;
    height: 72px;
    left: 0;
    top: 325px;
} 

#box-picture::after
{
    width: 18px;
    height: 15px;
    left: 52px;
    top: -19px;
}

/* 名人名言部分 */

main h2
{
    font-size: 31px;
    background-color: DarkTurquoise;
    position: relative;
    width: 580px;
    padding: 10px;
    margin: 3px auto;
}

#show
{
    width: 580px;
    padding: 6px 0 6px 0;
    margin: auto;
}

#show-left
{
    width: 25%;
}

#show-left img
{
    width: 120px;
    height: 83px;
}
#show-right
{
    width: 73%;
    border: 3px solid pink;
}

article 
{
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 10px;
}

/* 留言板 */
#message
{
    font-size: 35px;
    margin: 10px;
    text-align: center;
}


#message-board
{
    width: 580px;
    height: 480px;
    margin: 3px auto;
}

#main-input
{
    width: 280px;
    height: 320px;
    padding: auto;
    position:absolute;
    left: 40px;
    top: 20px;
}

#tips
{
    width: 350px;
    height: 50px;
    position: absolute;
    top: 410px;
    left: 10px;
    font-size: 25px;
}

#send
{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 400px;
    top: 400px;
}

#reset
{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 490px;
    top: 400px;
}

#message-history
{
    width: 200px;
    height: 320px;

    position: absolute;
    right: 40px;
    top: 20px;
}

#message-history p
{
    font-size: 30px;
}

#message-history li
{
    margin: 4px;
    list-style: none;
    cursor: pointer;
}
#message-history li:hover
{
    color: red;
}


/* 尾部界面 */



/* 版权信息 */
footer #author
{
    width: 580px;
    height: 80px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 5px;
    background-color: MediumSlateBlue;
}
